.pagination {
  padding: 20px;
  margin-top: auto;
}

.pagination .link:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination .link:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.total-items-count {
  padding: 0 5px;
}
