:root {
  --app-background-color: #282c34;
  --navbar-background-color: #1d1f23b8;
  --pagination-background-color: #0000009c;
  --link-color: #005084;
  --white: white;
  --red: #de352e;
  --transparent-black-background: #0000009e;
  --input-background: #cdcddc;
}
